body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f8b439;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 10px 20px;  /* reduzido */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;          /* mais largo */
  max-width: 600px;
  height: auto;
  overflow: visible;
}


h1, h2, h3 {
  margin: 5px 0;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}


input, select {
  width: 100%;
  padding: 4px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.itens {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.itens select {
  flex: 1;
}

.botao {
  background: #f8b439;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.botao:hover {
  background: #e09f32;
}

.aceitar {
  margin-top: 10px;
}

.resumo {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

.resumo .linha,
.entrega .linha {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.total {
  justify-content: flex-end;
  font-weight: bold;
}

.entrega {
  display: none;
  margin-top: 15px;
  background: #ffe5b4;
  padding: 10px;
  border-radius: 10px;
}

.cliente {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.remover-cliente {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}